<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">

        <!-- The only thing you have to edit here is the first sentence. Replace the years of experience and industry type with your own info. -->
        <p>As a data-driven former Director of Revenue Management, I’ve spent over a decade using data to optimize pricing, forecast demand, and uncover trends. Now, I’m transitioning into Data Analytics to apply these skills more broadly—combining technical tools like SQL, Tableau, and Python with business acumen to drive smarter decisions. I recently completed my training with Merit America, which involved 5 months of intensive professional development, completion of the Google Data Analytics Professional Certificate, and several hands-on technical projects.</p>
        
        <!-- This skills section already matches your resume, so no need to edit these unless you have more to add. Remember, these should be your TOP skills, not every skill! -->
        <h3>Skills & Expertise</h3>
          <p><strong>Languages:</strong> SQL, Excel, Tableau, and R.)<br>
              <strong>Tools:</strong> Linux, Windows, SIEM (Splunk), Network Protocol Analyzers (WireShark, Tcpdump, Nmap), IDS/IPS (Suricata)<br>
              <strong>Analytics Practices:</strong> Google-certified data analytics professional skilled in SQL, Excel, Tableau, and R. Experienced in data cleaning, visualization, and storytelling to support insight-driven business decisions. (NIST)<br>
              <strong>Software Platforms:</strong> Proficient in Google Workspace, Microsoft Office Suite (with emphasis on Excel for analysis), Slack for team collaboration, and ChatGPT for research, ideation, and workflow optimization.<br>
              <strong>Strengths:</strong> Problem-Solving – I enjoy breaking down complex challenges and using data to uncover actionable insights that lead to smarter business decisions. Collaboration – I work well in cross-functional teams, valuing clear communication and shared success. Attention to Detail – I take pride in accuracy and precision when cleaning, analyzing, and visualizing data. Calm Under Pressure – I stay focused and solution-oriented, even when working on tight deadlines or unexpected challenges. <br></p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">

        <!-- Replace the Rick Roll below with a link to your resume. Ideally this would be a pdf version, or a 'view only' version of your resume. -->
        <a href="https://docs.google.com/document/d/1l9APrFnqHb17fU3CHtW2mRWAjt6tNJVmtDmDPYFfCHw/edit?tab=t.0" class="btn btn-lg btn-outline resume-button">
          View Resume
        
        </a>
      </div>
    </div>
  </div>
</section>
